name: Build and lint
"on": pull_request
jobs:
    build_and_lint:
        if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: npm install && npm run compile && npm run lint && npm run test:format
