name: Build and lint
"on": pull_request
jobs:
    build_and_lint:
        if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: npm install && npm run compile && npm run lint && npm run test:format

    check_version:
        if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  ref: main
            - uses: actions/checkout@v6
            - run: |
                  current="$(sed -n 's/.*"version": *"\([^"]*\)".*/\1/p' package.json)"
                  main="$(git show origin/main:package.json | sed -n 's/.*"version": *"\([^"]*\)".*/\1/p')"
                  echo "current: ${current} main: ${main}"
                  if [ "${current}" != "${main}" ]; then
                    echo "Version bumped"
                  else 
                    echo "Version not bumped"
                    exit 1
                  fi
